<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Cost</th>
    <th>Department ID</th>
    <th>Date Begin</th>
    <th>Date End</th>
    <th>Date End Real</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="project : ${projects}">
    <td>
      <a th:href="@{/projects/{id}(id=${project.getId()})}" th:text="${project.getId()}">Pr ID</a>
    </td>
    <td th:text="${project.getName()}">Project Name</td>
    <td th:text="${project.getCost()}">Project cost</td>
    <td th:text="${project.getDepartment()}">Department Id</td>
    <td th:text="${project.getDateBeg()}">Date beg</td>
    <td th:text="${project.getDateEnd()}">Date end</td>
    <td th:text="${project.getDateEndReal()}">Date end real</td>
  </tr>
  </tbody>
</table>
<form th:method="GET" th:action="@{/projects/new}" style="display: inline;">
  <input type="submit" value="New project">
</form>
<br/>
<form th:method="GET" th:action="@{/departments}" style="display: inline;">
  <input type="submit" value="Departments">
</form>
<form th:method="GET" th:action="@{/employees}" style="display: inline;">
  <input type="submit" value="Employees">
</form>
<form th:method="GET" th:action="@{/de}" style="display: inline;">
  <input type="submit" value="Departments Employees">
</form>
<br>
<form th:method="GET" th:action="@{/tasks/1}" style="display: inline;">
  <input type="submit" value="Task1">
</form>
<form th:method="GET" th:action="@{/tasks/2}" style="display: inline;">
  <input type="submit" value="Task2">
</form>
</body>
</html>
