<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Department id</th>
        <th>Employee id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="de : ${allDE}">
        <td>
            <a th:href="@{/de/{id}(id=${de.getId()})}" th:text="${de.getId()}">Department ID</a>
        </td>
        <td th:text="${de.getDepartment()}">Department Name</td>
        <td th:text="${de.getEmployee()}">Department Name</td>
    </tr>
    </tbody>
</table>
<form th:method="GET" th:action="@{/de/new}" style="display: inline;">
    <input type="submit" value="New department_employee">
</form>
<br>
<form th:method="GET" th:action="@{/departments}" style="display: inline;">
    <input type="submit" value="Departments">
</form>
<form th:method="GET" th:action="@{/employees}" style="display: inline;">
    <input type="submit" value="Employees">
</form>
<form th:method="GET" th:action="@{/projects}" style="display: inline;">
    <input type="submit" value="Projects">
</form>
<br>
<form th:method="GET" th:action="@{/tasks/1}" style="display: inline;">
    <input type="submit" value="Task1">
</form>
<form th:method="GET" th:action="@{/tasks/2}" style="display: inline;">
    <input type="submit" value="Task2">
</form>
</body>
</html>
