<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l : ${list}">
        <td th:text="${l.getEmployeeId()}">Department Name</td>
        <td th:text="${l.getDepartmentName()}">Department Name</td>
    </tr>
    </tbody>
</table>
<form th:method="GET" th:action="@{/departments}" style="display: inline;">
    <input type="submit" value="Departments">
</form>
<form th:method="GET" th:action="@{/de}" style="display: inline;">
    <input type="submit" value="Departments Employees">
</form>
<form th:method="GET" th:action="@{/employees}" style="display: inline;">
    <input type="submit" value="Employees">
</form>
<form th:method="GET" th:action="@{/projects}" style="display: inline;">
    <input type="submit" value="Projects">
</form>
<br>
<form th:method="GET" th:action="@{/tasks/2}" style="display: inline;">
    <input type="submit" value="Task2">
</form>
</body>
</html>