<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
    <td th:text="${department.getId()}">Department ID</td>
    <td th:text="${department.getName()}">Department Name</td>
  </tbody>
</table>
<form th:method="GET" th:action="@{/departments/{id}/edit(id=${department.getId()})}" style="display: inline;">
  <input type="submit" value="Edit department">
</form>
<form th:method="GET" th:action="@{/departments/{id}/delete(id=${department.getId()})}" style="display: inline;">
  <input type="submit" value="Delete department">
</form>
<br/>
<form th:method="GET" th:action="@{/departments}" style="display: inline;">
  <input type="submit" value="Departments">
</form>
</body>
</html>